.button-read {
    font-size: 16px;
    line-height: 24px;
    background-color: #F8F8F8;
    border: 0;
    white-space: nowrap;
    letter-spacing: -0.2px;
}

.button-read:hover {
    
    cursor: pointer;
}

.button-read__read-text {
    margin-left: 16px;
    margin-right: 16px;
}

@media screen and (min-width: 768px) {
.button-read {
    margin-top: 13px;
}

}