.header {
    width: 100%;
    min-width: 320px;
}

.header__page {
    padding-left: 16px;
    padding-right: 16px;
    height: 88px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #D9FFF5;
    justify-content: space-between;
}

.header__logo {
    position: absolute;
    left: 72px;
}

.header__logo::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
    vertical-align: middle;
    left: -22px;
    top: 10px;
    display: none;
}
 
@media screen and (min-width: 768px) {
    .header__logo::before {
        display: block;
    } 
        
    .header__logo {
        left: 106px;
    }

    .header__page {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (min-width: 1120px) {
    .header {
        display: none;
    }
}

