.side-nav__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-nav__item {
    margin-bottom: 32px;
}

.side-nav__link {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 600;
}

.side-nav__link--active {
    color: #7E7E82;
}

.side-nav__link--active::before {
    content: "";
    position: absolute;
    height: 32px;
    background-color: #41f6d7;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    z-index: 10;
    left: 0px;
    width: 4px;
    top: 108px;
}

.side-nav__item:hover{
    cursor: pointer;
    color: #FF3E79;
}