.button-order {
    width: 119px;
    height: 32px;
    border-radius: 20px;
    border: none;
    background-color: $pink-500;
    color: $white;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        transition-duration: 0.3s;
        background-color: rgb(255, 131, 168);
    }
}

