.button-wrapper {
    display: flex;
    
    &::before {
        content: "";
        position: absolute;
        width: 2px;
        height: 32px;
        background-color: $gray-200;
        border-radius: 1px;
        right: 130px;
        top: 26px;    
    }
    
    &__contacts:not(:last-child) {
        margin-right: 16px;
    }   

    @media screen and (min-width: 768px) {
        &::before {
            right: 140px;
        }
    }
}


