.button{
    justify-content: center;
    height: 40px; 
    width: 40px;
    border: 0;
    padding: 0;
    border-radius: 50%;
    background-color: $pink-500;
    cursor: pointer;
    display: flex;
    transition: all 0.4s ease-in-out;

    &:hover {
        transform: rotate(360deg);
        transition-duration: 0.5s;
    }
    
    &:hover .header-button__text {
        color: $pink-500;
    }
    
    &__icon {
        margin-top: auto;
        margin-bottom: auto;
    }
}
 

