.footer {
    font-size: 14px;
    line-height: 16px;
    color: $color5;
    text-align: center;
    display: flex;
    flex-direction: column;

    &__text {
        margin: 0;
        margin-bottom: 16px;
    }

    @media screen and (min-width: 768px) {
        &__text:first-child {
            text-align: left;
        }
    
        &__text:last-child {
            text-align: right;
        }
    
        &__text {
            width: 30%;
        }
    }
}

@media screen and (min-width: 768px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
    }
}
