.header {
    width: 100%;
    min-width: 320px;

    &__logo::before {
            display: none;
        } 
    
    &__page {
        padding-left: 16px;
        padding-right: 16px;
        height: 88px;
        display: flex;
        align-items: center;
        background-color: $white;
        border-bottom: 1px solid $teal-100;
        }

        &__logo {
            margin-left: 16.73px;
            
        }

        &__button {
            display: flex;
            margin-left: auto;
        }

        @media screen and (min-width: 768px) {   
            &__logo {
               margin-left: 42.73px;
            }
    
            &__page {
                padding-left: 24px;
                padding-right: 24px;
            }
    
            &__logo::before {
                content: "";
                position: absolute;
                width: 2px;
                height: 32px;
                background-color: $gray-200;
                border-radius: 1px;
                left: 85px;
                top: 30px;
                display: block;
            }
        }
}



@media screen and (min-width: 1440px) {
    .header {
        display: none;
    }
}
