.mail {
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    color: $black;

    &__mail {
        padding-bottom: 12px;
    }
}

