.menu {
    position: fixed;
    height: 100vh;
    transition: z-index 0.5s;
    z-index: 0;

    &--open {
        width: 100%;
        z-index: 3000;
    }
}

@media screen and (min-width: 1440px) {
    .menu {
        display: flex;
        transform: translate(0px);
        position: sticky;
        top: 0;
     }  
}
