.nav {
    @media screen and (min-width: 1120px) {
        &__list {
            overflow: hidden;
            flex-wrap: wrap;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        margin: 0;
        padding: 16px;
        list-style-type: none;
        overflow: scroll;
    }
    
    &__link {
        color: $gray-600;
        display: inline-block;
        padding: 8px 13px;
        border: 2px solid transparent;
        height: 40px;
        white-space: nowrap;
        text-decoration: none;

        &:hover {
            color: $pink-500;
        }
    }
    
    &__link--active {
        border: 2px solid $teal-200;
        background-color: $white;
        border-radius: 6px;
    }
    
    &__list::-webkit-scrollbar {
        width: 0;
    } 

    &__list {
        overflow-x: scroll;
        scrollbar-width: none;
    }
}


