.side-menu {
    transform: translate(-320px);
    width: 320px;
    background-color: $white;
    position: fixed;
    z-index: 2000;
    height: 100%;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: scroll;
    scrollbar-width: none;
    
    &::-webkit-scrollbar {
        width: 0;
    } 

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__list {
        padding: 27px 24px;
    }
    
    &__buttons {
        display: flex;
        padding-bottom: 16px;
    }
    
    &__contacts {
        padding-left: 24px;
    }
    
    &__menu-header {
        display: flex;
        padding: 23px 24px;
        align-items: center;
        justify-content: space-between;
    }

    &--open {
        transform: translate(0px);
        box-shadow: 0.5px 0px 20px $gray-600;
    }

    @media screen and (min-width: 1440px) {
        position: static;
        overflow: visible;

        &__menu-header {
            padding: 30px 29px 0 22px;
            justify-content: space-between;
        }

        &__list {
            padding-top: 37.19px;      
        }
        
        &__button {
            display: none;
        }

        &__wrapper {
            justify-content: normal;
        }

        &__inner {
            margin-bottom: 241px;
        }

        transform: translate(0px);
    }
}
