@media screen and (min-width: 768px) {
    .brand {
        display: flex;
        gap: 16px 24px;
        overflow: hidden;
        flex-wrap: wrap;
     }
}

@media screen and (min-width: 1120px) {
    .brand {
        gap: 16px 32px;  
    }
}