.button-wrapper {
    display: flex;
}

.button-wrapper__contacts:first-child::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
    right: 130px;
    top: 26px;    
}

.button-wrapper__contacts:not(:last-child) {
    margin-right: 16px;
}

@media screen and (min-width: 768px) {
    .button-wrapper__contacts:first-child::before {
        right: 140px;
    }
}
