.button-content {
    font-size: 16px;
    line-height: 24px;
    background-color: #F8F8F8;
    border: 0;
    white-space: nowrap;
    letter-spacing: -0.2px;
    cursor: pointer;
}


.button-content__read-text {
    margin-left: 16px;
    margin-right: 16px;
}

@media screen and (min-width: 768px) {
    .button-content {
    margin-top: 24px;
}

}