.content-block {
    border-top: 1px solid #D9FFF5;
}

.content-block__title {
    padding: 16px;
    margin: 0;
    background: linear-gradient(90deg,#f8f8f8 0,#fff);
}

.content-block__swiper {
    padding: 16px;
}

@media screen and (min-width: 768px) {
    .content-block__swiper {
        padding: 21px;
    }
}

@media screen and (min-width: 1120px) { 
    .content-block__swiper {
        padding: 24px 28px;
    }
}