.main__nav {
    padding-left: 16px;
}

.main__content {
    padding-top: 16px;
}

.main {
    width: 100%;
}

.main__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__title {
    padding: 24px 16px;
    margin: 0px;
}

.main__content {
    padding-top: 16px;
}

.main__img {
    width: 100%;
}

@media screen and (min-width: 768px) {
.main__img {
    max-width: 360px;
    border-radius: 6px;
}

.main__nav {
    padding-left: 24px;
}

.main__title {
    padding-left: 24px;
}

.main__content {
    padding-left: 24px;
    padding-right: 24px;
}

}

@media screen and (min-width: 1120px) {
    .main__content {
        padding-top: 32px
    }

    .main__nav {
        padding-left: 32px;
    }

    .main__header {
        padding-top: 42px;
        padding-bottom: 19px;
        padding-right: 32px;
    }

    .main__title {
        padding-top: 0;
        padding-left: 24px;
        padding-bottom: 0;
    }

    .main__img {
       max-width: 530px;
    }
}