.title {
    font-size: 28px; 
    letter-spacing: -0.6px;
}

.title::before {
    content: "";
    position: absolute;
    height: 40px;
    background-color: #41f6d7;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    z-index: 10;
    left: 0px;
    width: 4px;
}