@import 'variable.scss';
@import 'mixins.scss';

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    @include font (TT Lakes, normal);
    margin: 0;
    background-color: $color3;
    min-width: 320px; 
}

@font-face {
    font-family: TT Lakes;
    src: url(../fonts/TTLakes-Regular.woff) format('woff');
    font-weight: 400;
}

@font-face {
    font-family: TT Lakes;
    src: url(../fonts/TTLakes-Medium.woff) format('woff');
    font-weight: 600;
}

@font-face {
    font-family: TT Lakes;
    src: url(../fonts/TTLakes-Bold.woff) format('woff');
    font-weight: 700;
}