@import 'variable.scss';
@import 'mixins.scss';

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    @include font (TT Lakes, normal);
    background-color: $gray-100;
    min-width: 320px; 
}