$color: #FF3E79; 
$color2: #ff93b5;
$color3: #F8F8F8;
$color4: #EAEAEA;
$color5: #7E7E82;
$color6: #fff;
$color7: #D9FFF5;
$color8: #1B1C21;
$color9: #B5B6BC;
$color10: #B8FFEC;
$color11: #41f6d7;
$color12: #818181;
