$pink-500: #FF3E79; 
$pink-200: #ff93b5;
$gray-100: #F8F8F8;
$gray-200: #EAEAEA;
$gray-600: #7E7E82;
$white: #fff;
$teal-100: #D9FFF5;
$black: #1B1C21;
$gray-500: #B5B6BC;
$teal-200: #B8FFEC;
$teal-400: #41f6d7;
$gray-700: #818181;
$pink-100: #faf0f3;
